/*WELCOME*/
.content-title , .sub-title , .ssub-title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.content-title div {
    font-size: 50px;
    padding: 20px 0;
}

.sub-title div{
    font-size: 30px;
    padding: 15px 0;
}

.ssub-title div{
    font-size: 30px;
    padding: 15px 0;
}

#content-area {
    width: 100%;
    font-family: "Verdana", Helvetica, sans-serif;
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    margin: auto;
}

#content-area div div{
    width: 80%;
    margin: 0% 10% 0% 10%;
}