/*WELCOME*/
.content-title {
    display: flex;
    justify-content: center;
}

.content-title div {
    font-size: 50px;
    padding: 20px 0;
}

#content-area {
    font-family: "Verdana", Helvetica, sans-serif;
    display: inline-block;
    text-align: center !important;
    justify-content: center;
    font-size: 18px;
    margin: auto;
}

#content-welcome .subtitle{
    margin: 20px;
}
#set{
    width:100%;
}