/*WELCOME*/
.content-title {
    display: flex;
    justify-content: center;
}

.content-title div {
    font-size: 50px;
    padding: 20px 0;
}

.sub-title{
    display:flex;
    justify-content: center;
}

.sub-title div{
    font-size: 30px;
    padding: 15px 0;
}

#content-area {
    width: 100%;
    font-family: "Verdana", Helvetica, sans-serif;
    display: inline-block;
    text-align: center !important;
    justify-content: center;
    font-size: 18px;
    margin: auto;
}

#content-area div div{
    width: 80%;
    margin: 0% 10% 0% 10%;
}