
body {
    margin: 0;
    background: #c4e8ff;
}

#main {
    height: 100%;
    width: 100%;
}
/* misc */
.hide {
    display: none !important;
}



#hamburger :hover{
    cursor: pointer;
}

#hamburger{
    margin-left: 4%;
}
.hamburger div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 6px;
    transition: 0.4s;
}
