
body {
    margin: 0;
    background: #c4e8ff;
}

.container {
    height: 100%;
    width: 100%;

}

/* navbar */
.navbar {
    font-size: 20px;
    background-color: #ddd;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.navbar ul li>a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navbar ul li>a:hover {
    background-color: #aaa;
}

.navbar ul li>a.active {
    background-color: #bebebe;
}

.navbar .hamburger {
    position: absolute;
    left: 0px;
}

.hamburger {
    cursor: pointer;
    float: left;
    background: #ddd;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 6px;
    transition: 0.4s;
}

/* misc */
.hide {
    display: none !important;
}

/* Mobile (default) */
@media only screen and (max-width: 768px) {
    .not-mobile {
        display: none !important;
    }

    .mobile-hide {
        display: none;
    }

    .navbar {
        min-height: 39px;
    }

    .navbar ul {
        background: #ddd;
    }

}

@media only screen and (min-width: 769px) {
    .navbar {
        height: 52px;
    }

    .navbar .hamburger {
        display: none;
    }

    .navbar ul {
        float: left;
    }
    
    .navbar ul li {
        float: left;
        margin-right: 3px;
    }

    .navbar ul li.right {
        float: right;
    }

    /* profbar */
    #profbar-profile-container {
        float: none;
    }

    /* misc */
    .mobile {
        display: none !important;
    }
}